.AddressHelper{
	width:100%;
	background-color: #fff;
	color:#383838; 
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding: 4px 17px;
}
.AddressHelper:hover{
	cursor:default;
	background-color: #dfdede;
}
@media(max-width: 750px) {
	.AddressHelper{
		font-size: 12px;
	}
}

@media(max-width: 480px){
	.AddressHelper{
		font-size: 10px;
		padding: 2px 7px;

	}
}